name: Publish to Docker Hub

# Prevent two instances of this workflow running at the same time
concurrency: docker-publish

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    name: Build and publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./
          push: true
          tags:  ${{ vars.DOCKER_HUB_USERNAME }}/cobolcraft:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # See: https://docs.docker.com/build/ci/github-actions/update-dockerhub-desc/
      - name: Update DockerHub description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          repository: ${{ vars.DOCKER_HUB_USERNAME }}/cobolcraft
          short-description: ${{ github.event.repository.description }}
          enable-url-completion: true
